<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Apply</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<style>
    a {
        color: inherit;
    }

    a:hover {
        color: inherit;
        text-decoration: none;
    }
</style>
<body>
<div th:insert="navBar.html">
</div>

<tbody>

<div class="m-0 px-5 container-fluid row w-100 d-inline-flex justify-content-center">
    <a th:each="student : ${students}" class="m-4" th:href="'/student/details/' + ${student.getId()}"
       style="width:350px">
        <div class="card w-100">
            <div class="card-title row m-0">
                <img class="rounded-circle center m-3" id="profileImage" width="100" height="100"
                     th:src="${student.student_image_id} ?  '/photo/image/' + ${student.student_image_id}  : '/images/defaultImage.png'"/>
                <h5 class="card-title  my-auto" th:text="${student.firstName}+'   '+${student.lastName}"></h5>
            </div>
            <div class="card-body">
                <p class="card-text" th:text="${#strings.abbreviate(student.description,100)}"></p>
            </div>
            <div class="card-footer">
                <span th:each="skill : ${student.skills}" th:text="${skill.name}"
                      class="badge badge-primary mx-2 p-2"></span>
            </div>
        </div>
    </a>
</div>
</tbody>
</table>
</div>

</body>

</html>
