<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Apply</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        a {
            color: inherit;
        }

        a:hover {
            color: inherit;
            text-decoration: none;
        }
    </style>

</head>
<body>
<div th:replace="navBar.html"></div>
<div class="container px-2 mt-3">
    <div class="card w-100 mx-auto">
        <div class="card-body container">
            <div class="row justify-content-center mb-3">
                <img class="center mr-2" id="profileImage" width="60" height="60"
                     th:src="${company.company_image_id} ?  '/photo/image/' + ${company.company_image_id}  : '/images/defaultImage.png'"/>
                <h4 class="text-muted my-auto" th:text="${company.name}"></h4>
            </div>
            <div class="row mb-2 mx-4">
                <p th:text="${company.description}"></p>
            </div>
        </div>
    </div>
</div>
<div class="container px-2 mt-3">
    <div class="card w-100 mx-auto">
        <div class="card-body row">
            <div class="col">
                <div class="row justify-content-center">
                    <i class="fa fa-map-marker my-auto mr-2"></i>
                    <div  th:text="${company.ville}"></div>
                </div>
            </div>
            <div class="col">
                <div class="row justify-content-center">
                    <i class="fa fa-users my-auto mr-2"></i>
                    <div th:text="${company.nbSalarie}"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container px-2 mt-3">
    <a th:each="project : ${projects}" class="m-4" th:href="'/project/details/' + ${project.id}"
       style="width:350px">
        <div class="card">
            <div class="card-body row">
                <div class="col">
                    <h5 class="card-title mb-1" th:text="${project.name}"></h5>
                    <div class="text-secondary mb-1"
                         th:text="${#strings.replace(project.start_date, '-', '/')} + ' - ' + ${#strings.replace(project.end_date, '-', '/')}"></div>
                    <div class="text-secondary mb-2" th:text="${project.salary} + '€'"></div>
                    <p class="card-text" th:text="${#strings.abbreviate(project.description,100)}"></p>
                </div>
            </div>
            <div class="card-footer">
                <span th:each="skill : ${project.skills}" th:text="${skill.name}"
                      class="badge badge-primary mx-2 p-2"></span>
            </div>
        </div>
    </a>
</div>

</body>

</html>
