<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Apply</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        a {
            color: inherit;
        }

        a:hover {
            color: inherit;
            text-decoration: none;
        }

        .fixed {
            position: fixed;
        }

        .profile-pic {
            position: relative;
            display: inline-block;
        }

        .profile-pic:hover .edit {
            display: block;
            cursor: pointer;
        }

        .edit {
            padding-top: 7px;
            padding-right: 7px;
            position: absolute;
            right: 30px;
            top: 30px;
            display: none;
        }

        #profileImage {
            cursor: pointer;
        }


        .image-upload > input {
            display: none;
        }
    </style>

</head>
<body>
<div th:replace="navBar.html"></div>

<div class="row m-0">
    <div class="col p-0" style="max-width: 300px; min-width: 300px;">
        <div class="fixed" style="max-width: 300px; min-width: 300px;">
            <div class="card ml-3">
                <div class="row justify-content-center mt-3">
                    <h4 class="text-muted my-auto" th:text="${company.name}"></h4>
                </div>
                <div class="row justify-content-center mt-2">
                    <form method="POST" class="text-center" enctype="multipart/form-data"
                          th:action="@{'/photo/upload-file/company/' +${company.id}}">
                        <div class="image-upload">
                            <label for="file-input">
                                <div class="profile-pic">
                                    <img class="center" id="profileImage" width="100" height="100"
                                         th:src="${company.company_image_id} ?  '/photo/image/' + ${company.company_image_id}  : '/images/defaultImage.png'"/>
                                    <div class="edit"><i class="fa fa-pencil fa-lg fa-2x"></i></div>
                                </div>

                            </label>
                            <input id="file-input" type="file" name="file"> <br/><br/>
                        </div>
                        <button style="display: none;" id="save" class="btn btn-outline-primary mx-auto" type="submit">
                            Save
                        </button>
                    </form>
                </div>
                <div class="row mb-2 mx-4">
                    <p th:text="${company.description}"></p>
                </div>
                <div class="row mb-4">
                    <div class="col">
                        <div class="row justify-content-center">
                            <i class="fa fa-map-marker my-auto mr-2"></i>
                            <div th:text="${company.ville}"></div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row justify-content-center">
                            <i class="fa fa-users my-auto mr-2"></i>
                            <div th:text="${company.nbSalarie}"></div>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <a class="btn btn-outline-primary mx-auto" th:href="'/project/new/' + ${company.id}">Create Project</a>
                </div>
                <div class="row mb-4">
                    <a class="btn btn-outline-primary mx-auto" th:href="'/company/details/' + ${company.id} ">My details</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div th:each="project : ${projects}" class="card mb-4">
            <div class="card-body row">
                <a class="col-9" th:href="'/project/details/' + ${project.id}">
                        <h5 class="card-title mb-1" th:text="${project.name}"></h5>
                        <div class="text-secondary mb-1"
                             th:text="${#strings.replace(project.start_date, '-', '/')} + ' - ' + ${#strings.replace(project.end_date, '-', '/')}"></div>
                        <div class="text-secondary mb-2" th:text="${project.salary} + '€'"></div>
                        <p class="card-text" th:text="${#strings.abbreviate(project.description,100)}"></p>
                </a>
                <div class="col-3 d-flex align-item-center">
                    <a th:href="'/company/candidates/' + ${project.id}" class="btn btn-outline-primary my-auto">See
                        candidates</a>
                </div>
            </div>
            <div class="card-footer">
                <span th:each="skill : ${project.skills}" th:text="${skill.name}"
                      class="badge badge-primary mx-2 p-2"></span>
            </div>
        </div>
    </div>
</div>
<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#profileImage').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#file-input").change(function () {
        readURL(this);
        $('#save').show();
    });
</script>
</body>

</html>
