<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Apply</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
        a {
            color: inherit;
        }

        a:hover {
            color: inherit;
            text-decoration: none;
        }
    </style>
</head>

<body>
<div th:replace="navBar.html">
</div>
<a class="m-0 px-5 container-fluid row w-100 d-inline-flex justify-content-center">

    <div class="m-0 px-5 container-fluid row w-100 d-inline-flex justify-content-center">
        <a th:each="company : ${companies}" class="m-4" th:href="'/company/details/' + ${company.id}"
           style="width:350px">
            <div class="card container">
                <div class="card-title row mb-0">
                    <img class="center m-3" id="profileImage" width="60" height="60"
                         th:src="${company.company_image_id} ?  '/photo/image/' + ${company.company_image_id}  : '/images/defaultImage.png'"/>
                    <h5 class="card-title  my-auto" th:text="${company.name}"></h5>
                </div>
                <div class="card-body">
                    <p class="card-text" th:text="${#strings.abbreviate(company.description,100)}"></p>
                </div>
            </div>
        </a>
    </div>
</body>

</html>