<style>
    body { padding-top: 70px; }
    body {
        background-image: url("/images/background.svg");
        background-size: cover;
        background-attachment: fixed;
        background-color: #d1d9e6;
    }

    .card {
        background-color: rgba(255, 255, 255, .90);
    }

    img{
        object-fit: cover;
    }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4 fixed-top">
    <a class="navbar-brand" href="/user/profile"><img width="100" src="/images/name.svg"> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/company">Companies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/student">Students</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/project">Projects</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-user fa-lg"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    <a class="nav-link" href="/user/profile">My Profile</a>
                    <a class="nav-link text-danger" href="/logOut">Logout<i class="ml-2 text-danger fa fa-sign-out fa-lg text-secondary" aria-hidden="true"></i></a>
                </div>
            </li>
        </ul>
    </div>
</nav>