<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Apply</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        a {
            color: inherit;
        }

        a:hover {
            color: inherit;
            text-decoration: none;
        }
    </style>
</head>

<div th:replace="navBar.html"></div>

<body>
<div class="container">
    <form class="card p-3 mt-5" method="post" th:action="@{'/project/new/' + ${id}}" th:object="${project}">
        <div class="form-group">
            <label for="name">Name</label>
            <input required type="text" th:field="*{name}" class="form-control" id="name"  placeholder="Enter project name">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input required type="text" th:field="*{description}" class="form-control" id="description" placeholder="Enter project description">
        </div>
        <div class="form-group">
            <label for="salary">Salary</label>
            <input required type="number" max="50000" th:field="*{salary}" class="form-control" id="salary"  placeholder="Salary for this project">
        </div>
        <div class="form-group">
            <label for="skills">Skills</label>
            <select required th:field="*{skills} " multiple class="form-control" id="skills"><!-- -->
                <option th:each="skill : ${skillsSet}"   th:value="${skill.getId()}" th:text="${skill.name}" >
                </option>
            </select>
        </div>
        <div class="row">
            <div class="col">
                <label for="startDate">Start date</label>
                <input required th:field="*{start_date}" class="form-control" type="date" id="startDate">
            </div>
            <div class="col">
                <label for="endDate">End date</label>
                <input required th:field="*{end_date}" class="form-control" type="date" id="endDate">
            </div>
        </div>

        <button type="submit" class="btn btn-outline-primary mt-4 mx-auto">Create</button>
    </form>
</div>
</body>
</html>