<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Apply</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <head>
        <style>
            a {
                color: inherit;
            }

            a:hover {
                color: inherit;
                text-decoration: none;
            }

            body {
                background-image: url("/images/background.svg");
                background-size: cover;
                background-attachment: fixed;
                background-color: #d1d9e6;
            }

            .card{
                background-color: rgba(255, 255, 255, .9);
            }
        </style>
    </head>
</head>

<body>

<div class="container my-5 card w-50 p-0">
    <div class="card-header">
        <img width="100" src="/images/name.svg">
        <h4 class="text-secondary">Register as a student</h4>
    </div>
    <div class="card-body">

        <form class="my-2" method="post" th:action="@{/student/new}" th:object="${student}">
            <div class="form-group">
                <label for="firstNameInput">First Name</label>
                <input required type="text" th:field="*{firstName}" class="form-control" id="firstNameInput"
                       aria-describedby="firstNameHelp" placeholder="Enter first name">
                <small id="firstNameHelp" class="form-text text-muted">Having a first name is always more
                    convenient.</small>
            </div>
            <div class="form-group">
                <label for="lastNameInput">Last Name</label>
                <input required type="text" th:field="*{lastName}" class="form-control" id="lastNameInput"
                       aria-describedby="lastNameHelp" placeholder="Enter last name">
                <small id="lastNameHelp" class="form-text text-muted">Having a last name is always more
                    convenient.</small>
            </div>
            <div class="form-group">
                <label for="ageInput">Birth date</label>
                <input required type="date" th:field="*{birth_date}" class="form-control" id="ageInput"
                       aria-describedby="ageHelp"
                       placeholder="Enter your age ">
                <small id="ageHelp" class="form-text text-muted">We wont force you to give us your age. Especially if
                    you're
                    ashamed to be old.</small>
            </div>
            <div class="form-group">
                <label for="descriptionInput">Description</label>
                <textarea required rows="4" th:field="*{description}" class="form-control" id="descriptionInput"
                          placeholder="Enter a description"></textarea>
            </div>
            <div class="form-group">
                <label for="shoolInput">School</label>
                <input required type="text" th:field="*{school}" class="form-control" id="shoolInput"
                       placeholder="Enter your school name">
            </div>

            <div class="form-group">
                <label for="cityInput">City</label>
                <input th:field="*{city}" id="cityInput" class="form-control" placeholder="Enter city">
            </div>
            <div class="form-group">
                <label for="mailInput">Email</label>
                <input type="email" th:field="*{email}" id="mailInput" class="form-control" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="linkedinInput">Linkedin</label>
                <input th:field="*{linkedin}" id="linkedinInput"class="form-control"  placeholder="Enter url">
            </div>

            <div class="form-group">
                <label for="skillsInput">Skills</label>
                <select required th:field="*{skills} " multiple class="form-control" id="skillsInput"><!-- -->
                    <option th:each="skill : ${allSkills}" th:value="${skill.getId()}" th:text="${skill.name}">
                    </option>
                </select>
            </div>
            <button type="submit" class="btn btn-outline-primary">Continue</button>
        </form>
    </div>
</div>

</body>

</html>

