<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Apply</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        a {
            color: inherit;
        }

        a:hover {
            color: inherit;
            text-decoration: none;
        }

        body {
            background: #C0DBF0;
        }
    </style>
</head>

<body>

<div th:replace="navBar.html"></div>

<div class="m-0 px-5 container-fluid row w-100 d-inline-flex justify-content-center">
    <a th:each="project : ${projects}" class="m-4" th:href="'project/details/' + ${project.id}"
       style="width:350px">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title m-0" th:text="${project.name}"></h5>
                <div class="text-secondary mb-2" th:text="${#strings.replace(project.start_date, '-', '/')} + ' - ' + ${#strings.replace(project.end_date, '-', '/')}"></div>
                <p class="card-text" th:text="${#strings.abbreviate(project.description,100)}"></p>
            </div>
            <div class="card-footer">
                <img class="center" id="profileImage" width="40" height="40"
                     th:src="${project.company.company_image_id} ?  '/photo/image/' + ${project.company.company_image_id}  : '/images/defaultImage.png'"/>
                <small class="text-muted" th:text="${project.company.name}"></small>
                <small class="text-muted" th:text="${project.salary} + '€'"></small>
            </div>
        </div>
    </a>
</div>


</body>

</html>
