<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Apply</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<style>

    html, body {
        height: 100%;
    }

    body {
        background-image: url("/images/background.svg");
        background-size: cover;
        background-attachment: fixed;
        background-color: #d1d9e6;
    }

    .card{
        background-color: rgba(255, 255, 255, .9);
    }
</style>
<body>
<div class="container h-100">
    <div class="d-flex justify-content-center h-100">
        <div class="card my-auto">
            <div class="card-header">
                <img width="100" src="/images/name.svg">
                <h3 class="text-secondary">Register</h3>
            </div>
            <div class="card-body">
                <div th:if="${error}" th:text="${error}" class="alert alert-danger" role="alert"></div>
                <form method="post" action="/register">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-user"></i></span>
                        </div>
                        <input required type="text" class="form-control" placeholder="username" name="username">

                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-key"></i></span>
                        </div>
                        <input required type="password" class="form-control" placeholder="password" name="password">
                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-key"></i></span>
                        </div>
                        <input required type="password" class="form-control" placeholder="confirm password" name="passwordConfirm">
                    </div>

                    <select name="role" class="form-control">
                        <option th:each="role : ${T(fr.linkedin.security.UserRoles).values()}" th:value="${role}" th:text="${role.displayName}"></option>
                    </select>
                    <div class="form-group">
                        <input type="submit" value="Register" class="mt-4 btn btn-outline-primary float-right login_btn">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>