<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Apply</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        a {
            color: inherit;
        }

        a:hover {
            color: inherit;
            text-decoration: none;
        }

        .fixed {
            position: fixed;
        }


        .profile-pic {
            position: relative;
            display: inline-block;
        }

        .profile-pic:hover .edit {
            display: block;
            cursor: pointer;
        }

        .edit {
            padding-top: 7px;
            padding-right: 7px;
            position: absolute;
            right: 35px;
            top: 35px;
            display: none;
        }

        #profileImage {
            cursor: pointer;
        }


        .image-upload > input {
            display: none;
        }

    </style>

    <script type="text/javascript">

        function Hide(addr) {
            document.getElementById(addr).style.visibility = "hidden";
            document.getElementById(addr).style.height = "0";
        }

        function Show(addr) {
            document.getElementById(addr).style.visibility = "visible";
            document.getElementById(addr).style.height = "auto";
        }

        function toggle(anId, anotherId) {
            {
                Show(anId);
                Hide(anotherId)
            }

        }

    </script>

</head>
<body>
<div th:replace="navBar.html"></div>

<div class="row m-0">
    <div class="col p-0" style="max-width: 300px; min-width: 300px;">
        <div class="fixed" style="max-width: 300px; min-width: 300px;">
            <div class="card ml-3">
                <div class="card-body container">
                    <div class="row justify-content-center  mb-1 ">
                        <h5 class="card-title" th:text="${student.lastName}+ '  ' + ${student.firstName}"></h5>
                    </div>
                    <div class="row justify-content-center  mb-1">
                        <i class="fa fa-graduation-cap my-auto mr-2"></i>
                        <div class="text-secondary mb-2" th:text="${student.school}"></div>
                    </div>
                    <form method="POST" class="text-center" enctype="multipart/form-data"
                          th:action="@{'/photo/upload-file/student/' +${student.id}}">
                        <div class="image-upload">
                            <label for="file-input">
                                <div class="profile-pic">
                                    <img class="rounded-circle center" id="profileImage" width="120" height="120"
                                         th:src="${student.student_image_id} ?  '/photo/image/' + ${student.student_image_id}  : '/images/defaultImage.png'"/>
                                    <div class="edit"><i class="fa fa-pencil fa-lg fa-3x"></i></div>
                                </div>

                            </label>
                            <input id="file-input" type="file" name="file"> <br/><br/>
                        </div>
                        <button style="display: none;" id="save" class="btn btn-outline-primary mx-auto" type="submit">
                            Save
                        </button>
                    </form>
                    <p class="text-center" th:text="${student.description}"></p>
                </div>
                <a th:href="'/student/details/' + ${student.id}" class="btn btn-outline-primary mx-auto">My details</a>
                <a th:href="'/student/demande/' + ${student.id}" class="btn btn-outline-primary mx-auto my-2">My
                    applications</a>
                <div class="card-footer">
                <span th:each="skill : ${student.skills}" th:text="${skill.name}"
                      class="badge badge-primary mx-2 p-2"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card mb-3">
            <div class="card-body">
                <a class="btn btn-outline-primary mr-2" href="#" onclick="toggle('vrai','foo');">Projects made for
                    you</a>
                <a class="btn btn-outline-primary" href="#" onclick="toggle('foo','vrai');">All projects</a>
            </div>
        </div>
        <div id="vrai">
            <div th:each="project : ${projectsskills}" class="card mb-4">
                <div class="card-body row">
                    <a class="col-9" th:href="'/project/details/' + ${project.id}">
                        <h5 class="card-title mb-1" th:text="${project.name}"></h5>
                        <div class="text-secondary mb-1"
                             th:text="${#strings.replace(project.start_date, '-', '/')} + ' - ' + ${#strings.replace(project.end_date, '-', '/')}"></div>
                        <div class="text-secondary mb-2" th:text="${project.salary} + '€'"></div>
                        <p class="card-text" th:text="${#strings.abbreviate(project.description,100)}"></p>
                    </a>
                    <div class="col-3 d-flex align-item-center">
                        <a th:href="'/project/apply/' + ${project.id} + '/' + ${student.id}"
                           class="btn btn-outline-primary my-auto">Apply</a>
                    </div>
                </div>
                <div class="card-footer">
                <span th:each="skill : ${project.skills}" th:text="${skill.name}"
                      class="badge badge-primary mx-2 p-2"></span>
                </div>
            </div>

        </div>
        <div id="foo" style="visibility:hidden;">
            <div th:each="project : ${projects}" class="card mb-4">
                <div class="card-body row">
                    <a class="col-9" th:href="'/project/details/' + ${project.id}">
                        <h5 class="card-title mb-1" th:text="${project.name}"></h5>
                        <div class="text-secondary mb-1"
                             th:text="${#strings.replace(project.start_date, '-', '/')} + ' - ' + ${#strings.replace(project.end_date, '-', '/')}"></div>
                        <div class="text-secondary mb-2" th:text="${project.salary} + '€'"></div>
                        <p class="card-text" th:text="${#strings.abbreviate(project.description,100)}"></p>
                    </a>
                    <div class="col-3 d-flex align-item-center">
                        <a th:href="'/project/apply/' + ${project.id} +'/' + ${student.id}"
                           class="btn btn-outline-primary my-auto">Apply</a>
                    </div>
                </div>
                <div class="card-footer">
                <span th:each="skill : ${project.skills}" th:text="${skill.name}"
                      class="badge badge-primary mx-2 p-2"></span>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#profileImage').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#file-input").change(function () {
        readURL(this);
        $('#save').show();
    });
</script>

</body>
</html>
