<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Apply</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
    </style>

</head>
<body>
<div th:replace="navBar.html"></div>
<div class="container px-2 mt-3">
    <div class="card w-100 mx-auto">
        <div class="card-body container">
            <div class="row justify-content-center mb-3">
                <img class="rounded-circle center" id="profileImage" width="200" height="200"
                     th:src="${student.student_image_id} ?  '/photo/image/' + ${student.student_image_id}  : '/images/defaultImage.png'"/>

            </div>

            <div class="row justify-content-center mb-3">
                <h4 class="text-muted my-auto" th:text="${student.lastName}+ '  ' + ${student.firstName}"></h4>

            </div>

            <div class="row mb-2 mx-4">
                <p th:text="${student.description}"></p>
            </div>
        </div>
    </div>
</div>
<div class="container px-2 mt-3">
    <div class="card w-100 mx-auto">
        <div class="card-body row">
            <div class="col">
                <div class="row justify-content-center">
                    <i class="fa fa-calendar my-auto mr-2"></i>
                    <div class="text-secondary mb-2" th:text="${student.birth_date}"></div>
                </div>
            </div>
            <div class="col">
                <div class="row justify-content-center">
                    <i class="fa fa-map-marker my-auto mr-2"></i>
                    <div th:text="${student.city}"></div>
                </div>
            </div>
            <div class="col">
                <div class="row justify-content-center">
                    <i class="fa fa-graduation-cap my-auto mr-2"></i>
                    <div th:text="${student.school}"></div>
                </div>
            </div>
            <div class="col">
                <div class="row justify-content-center">
                    <i class="fa fa-car my-auto mr-2"></i>
                    <div>Driver license</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container px-2 mt-3">
    <div class="card w-100 mx-auto">
        <div class="card-body container">
            <h5 class="card-title mb-1">Skills</h5>
        </div>
        <div class="card-footer">
                <span th:each="skill : ${student.skills}" th:text="${skill.name}"
                      class="badge badge-primary mx-2 p-2"></span>
        </div>
    </div>
</div>
<div class="container px-2 mt-3">
    <div class="card w-100 mx-auto">
        <div class="card-body container">
            <h5 class="card-title mb-1">Compte</h5>
            <div class="row">
                <div class="col-1">
                    <i class="fa fa-envelope-o my-auto"></i>
                </div>
                <div class="col">
                    <div class="text-secondary mb-2" th:text="${student.getEmail()}"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-1">
                    <i class="fa fa-linkedin-square my-auto"></i>
                </div>
                <div class="col">
                    <a th:href="${student.getLinkedin()}" th:text="${student.getLinkedin()}"></a>
                </div>
            </div>

        </div>
    </div>
</div>
</div>

</body>

</html>
